@import "site.css";

.container {
    display: grid;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    margin: 0 auto;
    width: min(100ch, 85%);
    margin-top: 3rem;
    justify-items: center;
    background-color: var(--bgbox);
    border-radius: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'heading'
    'words' 
}

p {
    grid-area: words;
    font-family: var(--contentfont);
    color: var(--textcolor);
    background-color: transparent;
    text-align: left;
    word-spacing: 1.5px;
    line-height: 25px;
    font-size: 17px;
}

h1 {
    grid-area: heading;
    font-family: var(--headingfont1);
    color: var(--headingcolor);
    background-color: transparent;
    margin-bottom: 0px;
}

.passion {
    color: var(--accent);
    background-color: transparent;
}